# notes
*.md
!README.md

# dirs
out
output
cache
nlp/cache
nlp/output
nlp/out

# data
*.zip
data

# python stuff
__pycache__
.venv
.python-version
susteelaible.egg-info

# misc
.env
vector_db
.DS_Store

.CLAUDE.md
