# notes
*.md
!README.md
!CLAUDE.md

# dirs
out
output
cache
nlp/cache

# data
*.zip
data

# python stuff
__pycache__
.venv
.python-version
susteelaible.egg-info

# misc
.env
.venv
vector_db
.DS_Store

