# Python 3.11 required (tested with 3.11.3)

# MJR
numpy==1.26.4
matplotlib==3.7.1
seaborn==0.12.2
statsmodels==0.14.0


datasets==4.4.1
transformers==4.57.3
torch==2.9.1

jupyterlab==4.2.5
python-dotenv==1.0.1

langchainhub==0.1.21
langchain-community==0.3.29
langchain-openai==0.3.32
langchain-huggingface==0.3.1
langchain-groq==0.3.8
sentence-transformers==5.1.0

# pypdf==6.0.0
faiss-cpu==1.12.0
plotly==6.3.0
pandas==2.3.2

# NLP | ClimateBert
PyMuPDF==1.26.6
langid==1.1.6
sacremoses==0.1.1
spacy==3.8.11
wordcloud==1.9.4

# Core ML/NLP
langchain>=0.1.0
langchain-community>=0.0.10
langchain-huggingface>=0.0.1
langchain-groq>=0.0.1
transformers>=4.35.0
sentence-transformers>=2.2.0

openpyxl==3.1.5

# # Vector store
# faiss-cpu>=1.7.4  # Use faiss-gpu if you have GPU support

# # PDF processing
# PyMuPDF>=1.23.0  # fitz

# # Data processing
# pandas>=2.0.0
# tabulate>=0.9.0
# tqdm>=4.65.0

# # Environment
# python-dotenv>=1.0.0

# # Text splitting
# langchain-text-splitters>=0.0.1
